.aside{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: linear-gradient(to top right, #b48ed1 5%, #282c34 50%);  
    background-color: crimson;
    min-width: 400px;
    max-width: 400px;
    margin-left: 0;
    justify-content: flex-end;
}



