.content{
    display: flex;  
    align-items: center;    
    width: 100%;
    
    min-height: 100vh;
   
   
  

}

@media(max-width: 834px){

    
   .content{
       justify-content: center;
       margin-bottom: var(--footer-height);
   }

}