.social_medias{

    display: flex;
    flex-direction: row;
    align-items: center;
    
    font-size: 40px;
    margin-left: 110px;
    
}

.social_medias a{

    text-decoration: none;
    margin-right: 25px;
    color: white;
}


@media(max-width: 834px){

    .social_medias{
            
        margin:auto;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      
    }
    .social_medias a{      
       
       margin: 0;
        
    }
}