footer{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;      
    width: 100%;
    height: var(--footer-height);
    background-image: linear-gradient(to bottom left,  #282c34 30%, #b48ed1 40%);
    position:fixed;
    bottom:0;
    
}

@media(max-width: 834px){

    footer{
        justify-content: center;
        background-image: none;
        background-color: #b48ed1;
    }
    

}