footer{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;      
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom left,  #282c34 30%, #b48ed1 40%);
    
    
}

@media(max-width: 480px){

    footer{
        background-image: none;
        background-color: #b48ed1;
    }
    

}