.section{

    display: flex;  
    align-items: center;
    justify-content: center; 
    width: 100%;    
    margin-left: var(--aside-width);
    
    
    
    
}


@media(max-width: 834px){

    .section{
        margin-top: var(--menu-responsive-heigth);
        margin-left: 0; 
        width: auto;
    }
    

}